# Dependencies
node_modules/

# Environment Variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Coverage
coverage/

# Test Output
test-results/

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/

# Temporary Files
tmp/
temp/

# Build Files
dist/
build/

# MongoDB
*.mongodb

# Misc
*.swp
*.swo